/* Header */
header {
    width: 100%;
    padding: 10px 8%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 3;
    box-shadow: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Navbar */
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-img {
    width: 90px;
}

/* Menu desktop */
#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #fff7e0;
    font-weight: 600;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

/* Sublinhado do item ativo */
.nav-item.active a {
    border-bottom: 3px solid #ffe100;
}

/* Mobile button */
#mobile_btn {
    display: none;
    border: none;
    color: #fff7e0;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobile menu */
#mobile_menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

#mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
}

#mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
}

/* Responsividade */
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
    }

}
